<?xml version="1.0"?>
<config>

	<modules>
		<Think_Dodson>
			<version>0.1.0</version>
		</Think_Dodson>
	</modules>
	
	 <global>
	 	<blocks>
    		<Think>
				<class>ThinkDodson_Setup_Block</class>
    		</Think>
    	</blocks>
    	<resources>
    	    <dodson_setup>
    	        <setup>
    	            <module>Think_Dodson</module>
				  <class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
				  <use>default_setup</use>
				</connection>
    	    </dodson_setup>
    	</resources>
     </global>    
</config>